%h1 Calculator
= form_tag dashboard_calculate_path, remote: true do
  = label_tag :calculating_string, "Enter Calculation:", style: 'font-weight: bold;'
  = text_field_tag :calculating_string

  %div
    %br
    %b Result:
    #original_question
    %span#result
    %br
  = submit_tag "Calculate", style: 'margin-top:10px;'

